Package: gmail-notify
Version: 1.6.1.1-4
Architecture: all
Maintainer: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Installed-Size: 146
Depends: python:any (>= 2.6.6-7~), python-gtk2
Recommends: www-browser
Section: mail
Priority: optional
Homepage: http://gmail-notify.sourceforge.net/
Description: Notify the arrival of new mail on Gmail
 Gmail Notifier is a Linux alternative for the notifier program released
 by Google, it is written in Python and provides an attractive and
 simple way to check for new mail messages.
